/*-----------------
    Google-fonts 
 -------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* Common style */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* -------------------
   content-heading
 ---------------------*/
/* .content-heading {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
} */

/* -------------------
   Button-section
 ---------------------*/
.button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  width: 180px;
  height: 50px;
  background: #e02c6d;
  padding: 15px;
}
.button:hover {
  background-image: linear-gradient(orange, rgb(235, 8, 0));
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
.fa-arrow-right {
  color: #fff;
  padding: 8px;
}

/* -------------------
image-section
 ------------------------*/
.header-section {
  background-color: #2d25a0;
  padding: 30px;
  display: flex;
}
.left,
.right {
  padding: 50px;
  flex-grow: 1;
  color: #fff;
}
.content-section h1 {
  font-size: 64px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.content-section img {
  height: 350px;
  width: 450px;
}
.player-img {
  width: 100%;
  height: 100%;
}
/* ---------------
   Player-section
 ------------------------*/
.container {
  background-color: #ffffff;
  padding: 90px;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.players-section {
  margin-bottom: 26px;
}
.section-title {
  font-size: 24px;
  color: #6b48ff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  box-shadow: 5px #fff;
}

.player img {
  width: 100%;
  height: 350px;
}

.player-name {
  font-size: 28px;
}
.player {
  flex-direction: row;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 1vmin 1vmin rgba(0, 0, 0, 0.1);
}
.player-history {
  font-size: 16px;
  font-weight: 300px;
  font-family: sans-serif;
}
/*----------------------
     player search section
 -------------------------*/
h2 {
  text-align: center;
  font-size: 30px;
  color: #6b48ff;
}
.player-search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #6b48ff;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTerm:focus {
  color: #00b4cc;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6b48ff;
  background: #6b48ff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}
/* .player=section {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/*----------------------
     Sponsor 
 -------------------------*/
.partner-title {
  font-size: 50px;
  text-align: center;
  color: #181733;
}
.partner-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.partner-section img {
  width: 300px;
  margin: 50px;
}

/* ---------------
footer section 
-----------------------*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 500px;
  margin: 50px;
}
.footer-icon a {
  border: 1px solid burlywood;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  background-color: #fff;
  padding: 20px;
  margin: 5px;
}
p {
  margin: 0px;
  padding-top: 30px;
  font-weight: 700px;
  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
